header {
    background-image: url("../../images/background.png");
    background-size: cover;
    height: 600px;
    background-position: left center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: white
}

.header-content {
    width: 900px;
    margin: 0 auto;
}

.header-content h1 {
    font-weight: bold;
    font-size: 30px;
}

.header-content p {
    font-size: 19px;
    opacity: 0.8;
}